*{
	box-sizing: border-box;
}

body{
  margin: 0;
  padding:0;
  background-color: black;
  color: white;

}

h1{
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 2em;
	padding: 2em;
	color: gold;
}
h2{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: gold;

}
header {
	background: url('img1/maxresdefault3.jpg') no-repeat;
    background-size: 100%;
	display: grid;
	align-items: end;
  height: 100vh;

	text-align: center;
	color: white;
}
.w60em {
	  max-width: 60em;
	    margin: 0 auto;
}
.w80em {
	  max-width: 80em;
	    margin: 0 auto;
}
.II-col {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.IIII-col {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo{
	width: 10em;
	height: 10em;
	margin:2em 0 0 0em;
}

img{
	width: 18em;
	height: 20em;

}
p {
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-align: justify;
	line-height: 1.5;
}

div {
	padding: 1em;
}
h3{
	font-family: 'Arvo', serif;
	padding: 1em;
}